@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  background-color: #100025;
  text-align: center;
  color: #fff;
  padding-top: 10em;

  span {
    font-family: 'Special Elite', system-ui;
    border-right: 0.08em solid #fff;
  }
}

* {
  color: #fff;
  text-decoration: none;
}
